[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
fastparquet = "*"
pandas = "*"
luigi = "*"
setuptools-scm = "*"
s3fs = "*"
dask = {extras = ["dataframe"],version = "*"}
awscli = "*"
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2019fa-csci-utils-naarla"}

[requires]
python_version = "3.7"
